.main-container {
  /* min-width: calc(100vw - 465px);  */
  /* min-width: calc(var(--doc-width)- 465px);  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-left: 50px;
  margin-right: 40px;
  height: calc(100vh - 90px);
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;

  width: 100vw;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: fill-available;
  overflow: hidden;
 /*  height: calc(var(--doc-height) - 90px); */
}


.main-container-closed {
  min-width: calc(100vw); 
}




.left-section {
  grid-column: 1 / 2;
  overflow-y: auto;

}

.right-section {
  grid-column: 2 / 3;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    
    min-width: calc(100vw - 215px); 
    /* min-width: calc(100var(--doc-width)vw - 215px);  */
    grid-template-areas: "right-section" "left-section";
  }
  

}


@media (max-width: 900px) {

  .left-section {
    grid-area: left-section;
    order: 2;
    margin-top: 40px;
  }
  
  .right-section {
    grid-area: right-section;
    order: 1;
    
  }
}
