.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;

    padding-left: 0px;
    margin-right: 40px; 
    background-color: white;

    height: calc(100vh - 90px);
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  
    width: calc(100vw - 0px);;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    overflow: hidden;
}
  

.input-field{
    text-indent: 5px;    
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.color{
    font-size: larger;
    font-weight: bold;
    color: green;
}

h4{
    margin-top: 25px;
    margin-left: 25px;
}

.detail-container{
    padding-left: 35px;
}

input{
    width: 400px;
}

textarea{
    width: 400px;
}

@media (max-width: 700px) {
    .right-section {
        display: none;

    }

}
