
<div class="main-container">
    <p>newdevice works!</p>
    <div class="from-group p-2">
        <div [formGroup]="deviceForm"  class="input-container p-3">
            <div class="input-email p-2">
                <input [formControl]="nameForm" class="input-field pt-1 pb-1 pr-1" type="text" name="" id="" type="email" placeholder={{namePlaceholder}} size="29">
            </div>
            <div class="input-email p-2">
                <input [formControl]="descriptionForm" class="input-field pt-1 pb-1 pr-1" type="text" name="" id="" type="email" placeholder={{descriptionPlaceholder}} size="29">
            </div>  
            <div class="input-email p-2">
                <input [formControl]="InventoryIdForm" class="input-field pt-1 pb-1 pr-1" type="text" name="" id="" type="email" placeholder={{InventoryIdPlaceholder}} size="29">
            </div>
            <button type="button" (click)="submitDevice()" [disabled]="deviceForm.invalid" class="btn btn-primary mt-5">Felvétel</button>
        </div>
    </div>
    
    <div>
        <div class="container" *ngIf="!deviceForm.invalid">
            <h1>{{nameForm.value}}</h1>
            <h3>{{descriptionForm.value}}</h3>
            <br>
            
            <p><span>Tulajdonos: </span><span class="value">{{getUserId()}}</span></p>
            <p><span *ngIf="InventoryIdForm.value!=''">Leltári szám: </span><span class="value">{{InventoryIdForm.value}}</span></p>
            <p class="color">Szabad</p>
      </div>
          
    </div>
</div>