.list{
    margin-bottom: 20px;
    height: calc(100vh - 90px - 100px);
    overflow-y:scroll;
    padding-right: 50px;
}


ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }

li{
    background-color: white;
    margin-bottom: 15;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
}

li:hover{
    cursor: pointer;
}

.device-card{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    
}

p{
    font-size: 18px;
    margin-bottom: 0px;
}

.name{
    font-weight: 500;
    font-size: 20px;

}

.info{
    text-align: right;
}

#date{
    font-size: 13px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    padding-right: 0px;
}
.green{
    font-weight: bold;
    color: green;
}

.red{
    font-weight: bold;
    color: red;
}

.yellow{
    font-weight: bold;
    color: orange;
}


@media (max-width: 900px) {
   
.list {
height: calc(50vh - 0px);
}

}

@media (max-height: 700px) and (max-width: 900px) {


.list {
    display: none;
}


}

.loader{
    height: 100px;
}

:host >>> ngx-skeleton-loader .skeleton-loader {
    border-radius: 10px;
    height: 60px;
  }