
 .container{
    padding-left: 0px;
    padding-bottom: 0px;
 }

.list{
    height: calc(100vh - 90px - 155px);
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
/*     width: fit-content; */
    overflow-y:scroll;
    padding-right: 50px;
    padding-left: 50px;

    /* width: calc(50vh - 150px); */
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    border-top: 1px solid rgb(241, 239, 239);
    border-bottom: 1px solid rgb(241, 239, 239);
}


ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding-left: 0px;
    margin-right: 0px;
  }

li{
    background-color: white;
    margin-bottom: 15;
    list-style: none;
    border: 1px solid grey;
    border-radius: 10px;
}

li:hover{
    cursor: pointer;
}

.device-card{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

.selected{
    background-color: #E5E5E5;
    font-weight: 500;
    /* color: #8d011b; */
}

p{
    font-size: 18px;
    margin-bottom: 0px;
}

.name{
    font-weight: 500;
    font-size: 20px;
}

.name-selected{
    font-size: 23px;
}

.info{
    text-align: right;
}

#date{
    font-size: 13px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    padding-right: 0px;
}
.green{
    font-weight: bold;
    color: green;
}

.red{
    font-weight: bold;
    color: red;
}

.yellow{
    font-weight: bold;
    color: orange;
}

.too-small{
    display: none;
    font-size: larger;
}

.input-container{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 40px;
}

.input-field-icon{
    border: none;
    outline: none;
}

.input-field{
    text-indent: 5px;    
    border-radius: 5px;
    border: 2px solid gray;
    color: gray;
    width: 500px;
}

.input-field input{
    width: 450px;
}

@media (max-width: 1200px) {
   
    .container{
        padding-left: 15px;
    }
    .list{
        padding-right: 15px;
     }   
}

@media (max-width: 900px) {
   
.list {
    margin-top:  70px;
    height: calc(50vh - 0px);
    width: calc(200px);
    padding-right: 0px;
    padding-left: 0px;
}
.input-field{
    text-indent: 5px;    
    border-radius: 5px;
    border: 2px solid gray;
    color: gray;
    width: 250px;
}

.input-field input{
    width: 200px;
}

}

@media (max-height: 700px) and (max-width: 900px) {

.list {
    height: 200px;

}
ul{
    position: absolute;
    bottom: 0;
    padding-top: 80px;
    height: 250px;
    width: 80%;
    overflow-y: scroll;
}

}
@media (max-height: 450px) and (max-width: 900px) {

    .list {
        height: 200px;
    
    }
    ul{
        display: none;
    } 
    .too-small{
        display: contents;
    }
}
    

@media (max-width: 700px) {
    p{
        font-size: 10px;
    }
    
    .name{
        font-weight: 500;
        font-size: 12px;
    }
    
    #date{
        font-size: 9px;
        font-weight: 300;
    }

    ul {
        gap: 5px;
    }

    .green{
        font-size: x-small;
    }
    
    .red{
        font-size:  x-small;
    }
    
    .yellow{
        font-size:  x-small;

    }
    
    .device-card{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-start;
        margin: 0px 30px;
        
    }
    ul{
        width: 280px;
        color: red;
    }
    
    
}

.loader{
    height: 100px;
}

:host >>> ngx-skeleton-loader .skeleton-loader {
    border-radius: 10px;
    height: 60px;
}