<br>
<br>
<div class="list">

  <ul *ngFor="let number of [0]">
    <li class="shadow" *ngFor="let device of mydevices" (click) ="onDeviceSelected(device)">
      <div class="device-card">
        <div class="text">
          <p class="name">{{device.name}}</p>
          <p>id: {{device.deviceId}}</p>
        </div>
        <div class="info">
          <p id="date">{{device.startDate ? (device.startDate|date: 'yyyy-MM-dd') : '-'}}</p>
          <p [ngClass]="getDeviceService().getStateColor(device.state)"> {{getDeviceService().getStateLabel(device.state)}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
