<br>
<br>
<div class="list">

  <ul *ngFor="let number of [0]">
    <li class="shadow" *ngFor="let device of mydevices" (click) ="onDeviceSelected(device)">
      <div class="device-card">
        <div class="text">
          <p class="name">{{device.name}}</p>
          <p>id: {{device.deviceId}}</p>
        </div>
        <p>{{device.startDate ? '-' : '-'}}</p>
        <p [ngClass]="getDeviceService().getStateColor(device.state)"> {{getDeviceService().getStateLabel(device.state)}}</p>
      </div>
    </li>
  </ul>
</div>
