
<br><br><br>
<div class="container">
    <div class="row">
        <div class="offset-mf-2 col-lg-6 col-md-8 offsetlg-4 offset-md-3">
            <div name="content" class="panel border shadow-lg p-3 mb-5 bg-white rounded-4">
                <div class="panel-heading">
                    <img src="assets/images/labloot_icon.png" alt="">
                    <div class="text-container">
                        <h2><span class="pt-5 fw-bold">LabLoot </span><span class="fst-italic">Admin</span></h2>
                        <div *ngIf="this.loginView, else signupTitle">
                            <h3 class="pl-4">Bejelentkezés</h3>
                        </div>
                        <ng-template #signupTitle>
                            <h3 class="pl-4">Regisztáció</h3>
                          </ng-template>
                    </div>
                </div>
                <!-- LOGIN -->
                <div class="panel-body p-3" *ngIf="this.loginView, else signupBlock">
                    <form [formGroup]="loginForm" >
                        <div class="from-group p-2">
                            <div  class="input-container p-3">
                                <div class="input-email p-2">
                                    <i class="fa-solid fa-envelope pr-2"></i>
                                    <input [formControl]="emailForm" class="input-field pt-1 pb-1 pr-1" 
                                      (focus)="emailFormFocused= true" (blur)="emailFormFocused = false" 
                                      [ngClass]="{'input-field': !emailInvalid(emailForm), 'input-field-error': emailInvalid(emailForm)}"
                                      type="text" name="" id="" type="email" placeholder="email" size="29">
                                </div>
                                <small *ngIf="emailForm.dirty && emailForm.hasError('required')" class="text-danger ml-4"> * Email szükséges</small>
                                <small *ngIf="emailForm.touched && emailForm.hasError('email')" class="text-danger ml-4"> * Helytelen email</small>
                                <div class="input-password p-2">
                                  <i class="fa-solid fa-key pr-2"></i>
                                  <div  [ngClass]="{'input-field': !passwordInvalid(passwordForm), 'input-field-error': passwordInvalid(passwordForm)}">
                                    <input [formControl]="passwordForm" class="input-field-password p-1 " 
                                      (focus)="passwordFormFocused= true" (blur)="passwordFormFocused = false"
                                      [type]="passType" name="" id="" type="password" placeholder="jelszó" size="23">
                                    <i (click)="hideShowPassword()" class="fa-solid {{showIcon}} "></i>
                                  </div>
                                </div>
                                <small *ngIf="passwordForm.dirty && passwordForm.hasError('required')" class="text-danger ml-4"> * Jelszó megadása szükséges</small>
                                <button type="button" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary mt-5">Bejelentkezés</button>
                                <p class="nav-text mt-3"> <span>Nincs felhasználói fiókja? </span> <span class="link" (click)="toggleLoginView()">regisztáció</span> </p>
                                
                            </div>
                        </div>
                    </form>
                </div>
                <!-- SIGNUP -->
                <ng-template class="panel-body p-3" #signupBlock>
                    <form [formGroup]="signupForm">
                      <div class="from-group p-2">
                        <div class="input-container p-3">
                          <div class="input-email p-2">
                            <i class="fa-solid fa-envelope pr-2"></i>
                            <input [formControl]="newEmailForm" class="input-field pt-1 pb-1 pr-1" 
                              (focus)="emailFormFocused= true" (blur)="emailFormFocused = false" 
                              [ngClass]="{'input-field': !emailInvalid(newEmailForm), 'input-field-error': emailInvalid(newEmailForm)}"
                              type="text" name="" id="" type="email" placeholder="email" size="29">
                          </div>
                          <small *ngIf="newEmailForm.dirty && newEmailForm.hasError('required')" class="text-danger ml-4"> * Email szükséges</small>
                          <small *ngIf="newEmailForm.touched && newEmailForm.hasError('email')" class="text-danger ml-4"> * Helytelen email</small>
                          <div class="input-password p-2">
                            <i class="fa-solid fa-key pr-2"></i>
                            <input [formControl]="newPassForm" minlength="6" class="input-field pt-1 pb-1 pr-1" 
                              [ngClass]="{'input-field': !passwordInvalid(newPassForm), 'input-field-error': passwordInvalid(newPassForm)}"  
                              (focus)="passwordFormFocused= true" (blur)="passwordFormFocused = false" 
                              [type]="passType" name="" id="" type="password" placeholder="jelszó" size="29">
                          </div>
                          <small *ngIf="newPassForm.dirty && newPassForm.hasError('required')" class="text-danger ml-4"> * Jelszó megadása szükséges</small>
                          <small *ngIf="newPassForm.touched && 1 < newPassForm.value!.length && newPassForm.value!.length < 6" class="text-danger ml-4"> * Jelszó túl rövid</small>
                          <div class="input-password p-2" >
                            <i class="fa-solid fa-key pr-2"></i>
                            <div class="input-field" [ngClass]="{'input-field': !passwordInvalid(newPassComfirmForm), 'input-field-error': passwordInvalid(newPassComfirmForm)}">
                              <input [formControl]="newPassComfirmForm" minlength="6" class="input-field-password p-1 "
                                (focus)="passwordFormFocused= true" (blur)="passwordFormFocused = false" 
                                [type]="passType" name="" id="" type="password" placeholder="megerősítés" size="23">
                              <i (click)="hideShowPassword()" class="fa-solid {{showIcon}} "></i>
                            </div>
                          </div>
                          <small *ngIf="newPassComfirmForm.dirty && newPassComfirmForm.hasError('required')" class="text-danger ml-4"> * Jelszó megadása szükséges</small>
                          <small *ngIf="newPassComfirmForm.touched && 1< newPassComfirmForm.value!.length && newPassComfirmForm.value!.length < 6" class="text-danger ml-4"> * Jelszó túl rövid</small>
                          <small *ngIf="newPassComfirmForm.touched && newPassComfirmForm.value!= newPassForm.value" class="text-danger ml-4"> * Jelszó nem egyezik meg</small>
                          <button type="button" (click)="signup()" [disabled]="signupForm.invalid" class="btn btn-primary mt-5">Regisztáció</button>
                          <p class="nav-text mt-3">
                            <span>Már van fiókja?: </span>
                            <span class="link" (click)="toggleLoginView()">bejelentkezés</span>
                          </p>
                        </div>
                      </div>
                    </form>
                </ng-template>
                  
            </div>

        </div>
    </div>
</div>

