h3{
  color: white;

  padding: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A7001E;
  padding-left: 15px;
  height: 90px;
}

.left-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 65px;
}

.right-items p{
  margin-bottom: 0;
}

#logo{
  width: 60px;
}
