h3{
  color: white;

  padding: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A7001E;
  padding-left: 15px;
  height: 90px;
}

.left-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-style{
  color: white;
  font-size: x-large;
  padding: 19px;
}

.icon-small{
  color: white;
  font-size: x-large;
  padding: 20px;
}

.fa-circle-info{
  font-size: larger;
}


.right-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 65px;
}

.right-items p{
  margin-bottom: 0;
}

#logo{
  width: 60px;
}


@media (max-width: 600px) {
  .right-items{
    padding-left: 45px;
    font-size: smaller;
  }
  h3{
  font-size: large;
  }

  .left-items i{
    font-size: small;
    padding: 10px;
  }
  
  #logo{
    width: 45px;
  }
  

}


