span{
    font-size: larger;
    color: rgb(85, 85, 85);
}


h1{
    padding-top: 2em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

h3{
    color: rgb(85, 85, 85);

}

p{
    margin-bottom: 3px;
}

.color{
    font-size: larger;
    font-weight: bold;
}

.green{
    color: green;
}

.red{
    color: red;
}

.yellow{
    color: orange;
}

@media (max-width: 1000px) {
    .container {
        
    height: calc(50vh - 90px - 200px);
    }
    *{
        line-height: 1;
    }

    span{
        font-size: small;

    }

    h1{
        padding-top: 0.5em;
        font-size: larger;
    }

    h3{
        font-size: large;

    }


}


  
  