.container{
    width: calc(50vh);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
}

span{
    font-size: larger;
    color: rgb(85, 85, 85);
}


h1{
    padding-top: 2em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

h3{
    color: rgb(85, 85, 85);

}

p{
    margin-bottom: 3px;
}

.color{
    font-size: larger;
    font-weight: bold;
}

.green{
    color: green;
}

.red{
    color: red;
}

.yellow{
    color: orange;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1em;
    width: fit-content;
    gap: 3em;
}

@media (max-width: 1000px) {
    .container {
        
    height: calc(50vh - 90px - 200px);
    }
    *{
        line-height: 1;
    }

    span{
        font-size: small;

    }

    h1{
        padding-top: 0.5em;
        font-size: larger;
    }

    h3{
        font-size: large;

    }


}


  
  