.container{
    width: calc(50vh);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin-left: 0px;
    z-index: 900;
}

span{
    font-size: larger;
    color: rgb(85, 85, 85);
}


h1{
    padding-top: 2em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

h3{
    color: rgb(85, 85, 85);

}

p{
    margin-bottom: 3px;
}

.color{
    font-size: larger;
    font-weight: bold;
}

.green{
    color: green;
}

.red{
    color: red;
}

.yellow{
    color: orange;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: fit-content;
    gap: 1em;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.qrcode > img {
    width: 1800px;
}

img{
    width: 200px;
}
.qr-size{
    width: 180px;
}
  

@media (max-height: 800px) and (max-width: 900px) {
    .optional{
        display: none;
    }
    
}

@media (max-width: 900px) {
    .container {
        height: calc(50vh - 90px - 200px);
        margin-left: 10px;
    }

    *{
        line-height: 1;
    }

    span{
        font-size: small;

    }

    h1{
        padding-top: 0.5em;
        font-size: larger;
    }

    h3{
        font-size: large;

    }

    .green{
        font-size: small;
    }
    
    .red{
        font-size:  small;
    }
    
    .yellow{
        font-size:  small;

    }


}


  
  